.container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.attendee{
    display: flex;
    align-items: center;
    justify-content: center;

}

li {
    list-style-type: none;
}